* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #181818;
  color: #fff;
}

body #show, body #hide {
  height: 20px;
  margin: 5px;
  padding: 5px;
  width: 40%;
  text-align: center;
  cursor: pointer;
}

body #toggle {
  display: flex;
  height: 20px;
  background: blue;
  color: #fff;
  width: 100%;
  padding: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body .active {
  display: flex;
}

.square {
  border: 1px solid #000;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}

table, tr, td {
  border: 2px solid #000;
  border-collapse: collapse;
  padding: 3em;
  margin: 1em;
}

.img {
  margin: 2em;
  width: 300px;
  height: 200px;
  cursor: pointer;
  transition: transform .3s ease;
}

.colored {
  background: #c5c5c5;
  color: #000;
}

.featured {
  background: #575757;
  color: #ffffff;
  transform: scale(1.1);
  transition: transform .3s ease;
}
